body {
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;
    background: lightgray;
}

.item {}

.item:nth-child(1) {
    background-color: skyblue;
    flex: 1;  /*flex-basis: 0; 기본 설정*/
    align-self: flex-start;
}
.item:nth-child(2) {
    background: rgba(255, 150, 0, 0.5);
    flex: 2;  /*flex-basis: 0; 기본 설정*/
    align-self: center;
}
.item:nth-child(3) {
    background: rgba(255, 255, 150, 0.5);
    flex: 1;  /*flex-basis: 0; 기본 설정*/
    align-self: flex-end;
}

img {
    width: 250px;
    height: 250px;
}