body {
    margin: 0;
    font-size: 2em;
}

.container {
    max-width: 1000px;
    margin: 0 auto; /* 상하는 0 좌우는 auto*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    font-size: 0;
}

.item {
    display: inline-block;
    vertical-align: top; 
    padding: 5%;
    font-size: 1rem;
}

.item-a {
    width: 30%;
    background-color: yellow;
}

.item-b {
    width: 50%;
    background-color: greenyellow;
}
